body {
    margin: 0;
    display: flex;
    min-height: 100vh;
}

/* Side Navigation */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: black;
    color: white;
    min-width: 225px;
    max-width: 225px;
    padding: 1rem;
}

nav header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid white;
    padding-bottom: .75rem;
    text-align: center;
}

nav header h1 {
    margin: 0;
}

nav header img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 1rem 0;
}

#nav-info {
    margin-top: 1rem;
    display: flex;
}

#nav-info a img {
    height: 24px;
}

#nav-info a:nth-of-type(2) {
    margin: 0 .5rem;
}

/* Main Section */

main {
    background: linear-gradient(135deg, #96bebe 0%,#4e7e7e 100%);
    width: 100%;
    padding: 1.5rem;
}

main h1 {
    margin: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

#items {
    display: flex;
    flex-wrap: wrap;
}

#items a {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
    color: black;
}

#items a:first-of-type {
    margin-right: 1.5rem;
} /* Remove this after more items are added */

#items a span {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#items img {
    width: 600px;
    height: 345px;
    margin: 1rem 0;
    filter: grayscale(100%);
}

#items img:hover {
    filter: grayscale(50%);
}

/* Overlay */

#overlay {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: .9;
}

#overlay button {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    opacity: .8;
}

#overlay iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Responsive */

@media screen and (max-width: 1500px) {
    body {
        flex-direction: column;
    }

    nav {
        min-width: 100%;
    }

    main {
        flex: 1;
    }

    main h1 {
        text-align: center;
    }

    #items {
        flex-direction: column;
        align-items: center;
    }

    #items a:first-of-type {
        margin-right: 0;
    }

    #items a:last-of-type {
        margin: 0;
    }

    #items a img {
        width: 100%;
        height: auto;
    }

    #overlay {
        opacity: .95;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 1rem;
    }

    main h1 {
        font-size: 1.5rem;
    }
}