/* Universal */

body {
    color: white;
    padding: 1.5rem;
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 825px;
    margin: auto;
    padding: 0 0 1.5rem 0;
}

.site-info h1 {
    font-size: 3rem;
}

.site-info p {
    margin-bottom: 0;
}

/* Image Section */

.images {
    display: flex;
}

.desktop-mobile img {
    height: 350px;
    margin-bottom: 1rem;
}

.desktop-mobile img:last-of-type {
    margin: 0;
}

.desktop {
    margin-right: 1rem;
}

.desktop img {
    width: 100%;
}

/* Mobile Images */

.mobile-only div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.mobile-only img {
    height: auto !important;
    width: 100%;
    margin-right: 1rem;
}

.mobile-only img:last-of-type {
    margin: 0;
}

/* Responsive */

@media screen and (max-width: 825px) {
    .desktop-mobile {
        display: flex;
        flex-direction: column-reverse;
    }

    .desktop-mobile .desktop {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .desktop-mobile  .mobile {
        margin-bottom: 1rem;
    }

    .desktop-mobile .desktop img, .desktop-mobile .mobile img {
        width: 100%;
        height: auto !important;
    }

    .mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile img {
        margin: 0 1rem 0 0 !important;
    }

    .mobile img:last-of-type {
        margin: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding-top: 3.5rem;
    }

    .desktop-mobile {
        flex-direction: column-reverse !important;
    }

    .images, .mobile {
        flex-direction: column;
    }
    
    .mobile img {
        margin-bottom: 1rem !important;
    }

    .desktop img:last-of-type {
        margin: 0 !important;
    }

    .mobile-only div {
        flex-direction: column;
    }

    .mobile-only div img:last-of-type {
        margin: 0 !important;
    }

    .mobile-only .mobile {
        margin: 0;
    }
}


