/* Universal Declarations */

@font-face {
    font-family: 'Berlin Sans FB';
    src: url(assets/berlin-sans-fb.ttf);
}

* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    color: #96bebe;
}

h1 {
    margin: 0;
    font-family: 'Berlin Sans FB';
}