* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
}

a {
    color: #96bebe;
}

h1 {
    margin: 0;
}

button {
    border-radius: 0;
    border: 2px solid white;
    color: white;
    background: black;
    font-size: 1rem;
    padding: .25rem 1rem;
    margin-top: .75rem;
    transition: .3s all;
    cursor: pointer;
    transition: .3s all;
}

button:hover {
    background: white;
    color: black;
}